Options -Indexes  +SymLinksIfOwnerMatch

RewriteEngine On

RewriteCond %{REQUEST_URI} \.(css|jpg|gif|png|zip|rar|doc|xls|js|tif|tiff|docx|xlsx|ico|eot|svg|ttf|woff|otf)$
RewriteRule ^(.*)$ $1 [L]

RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !.*/bat
RewriteRule .* index.html [QSA,L]

<Files .htaccess>
	order allow,deny
	deny from all
</Files>